<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <header>
        {{> header}}
    </header>
    <main>
        <h2 class="text-center m-5">Productos</h2>
        {{#if arrayProductos}}
                <ul style="list-style: none; background-color: #F8F9FA; border-radius: 0.5rem; padding: 0.2rem; margin: 1rem;">
            {{#each arrayProductos}}
            <li style="font-size: 20px; margin: 0.5rem;">Titulo: {{this.title}}, Precio: {{this.price}}, Id:{{this.id}} <img width="50px"
                    src="{{this.thumbnail}}" </li>
                {{/each}}
        </ul>
        {{else }}
        <h4 class="text-center m-4">No hay Productos</h4>
        {{/if}}

    </main>
    <footer>
        {{> footer}}
    </footer>
</body>

</html>